.editsingleImageContainer{
    position: relative;
    width: 500px;
}

.editImages{
    width: 100%;

}
.editsingleImageContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 7px;
    overflow: hidden;
}
.dotIconContainer{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.708)
}
.dotsIcon {
    position: absolute;
    top: 4px;
    right: 7px;
    color: white;
    font-size: 1.3rem;

  }
