.yourBookingsContainer{
    background-color:rgba(0, 0, 0, 0.07);
    padding: 0.5rem;
    text-align: center;
    /* margin: 0 0 1rem 0; */


}
.yourTripTxt{
    margin: 0 0 0 0;
    font-weight: bold;
}

.bookingImage{
    width: 100%;
    cursor: pointer;

}

.bookingInfoAndMapContainer{
    display: flex;
}
.mapContainer{
    width:70%;
    /* height:84vh; */


}
.bookingImageAndInfoContainer{
    width:30%
}
.singlePagebookingContainer{
    /* margin: 1rem 1rem 1rem 1rem; */
    margin: auto;
    max-width: 1250px;
    height: 90vh;
}

.bookinImageContainer{
/* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.688); */
margin: 0 0.1rem 0 0;
}

.bookingCheckingContainer{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 0 0;

}
.bookingInfoContainer{
    margin: 0 0rem 0 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.284);
    /* box-shadow: 3px 3px 3px black; */

}
.whrerToGo{
    margin: 0 0rem 0 1rem;
    /* box-shadow: 3px 3px 3px black; */
}
.payment{
    margin: 0 0rem 0 1rem;
    /* box-shadow: 3px 3px 3px black; */
}
.bookingHeading{
    font-weight: bold;
    text-align: center;
}
.noSingleSpotAvailableContainer{
    background-color: rgba(128, 128, 128, 0.252);
    height: 20%;
    width: 20%;
    text-align: center;
    margin: 3rem auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noSpotAvailable{
    font-weight: bold;
    color: rgba(0, 0, 0);

}
/*
.bookingBtnContainer{
    margin: 0 0rem 0 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border-top: 1px solid rgba(0, 0, 0, 0.284); */
/* }  */

.deleteBookingBtn,.editBookingBtn{
    /* margin:1rem 0 0 0;
    background-color:  rgb(238, 46, 91);
    border:1px solid rgb(238, 46, 91);
    color:white;
    padding:0.2rem 0.5rem 0.2rem 0.5rem ;
    width: 80%;
    cursor: pointer;
    border-radius: 5px; */
    /* width: 50%;
    background-color: white;
    border:none */
    cursor: pointer;
}


.bookingBeachIcon,.leftBackIcon,.bookingLocationicon,.bookingDollarIcon{
    margin: 0 1rem 0 0;

}

.backBtnToSpot{
    cursor: pointer;
}

.singleBookingCheckInAndOut{
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0 0;
}
.singleBookingCheckIncontainer{
    /* border-right: 1px solid black; */
    width: 50%;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.268);
}
.singleBookingCheckOutcontainer{
    width: 50%;
    text-align: center;
}
@media only screen and (max-width: 700px)  {
.bookingInfoAndMapContainer{
    display: block;
}
.bookingImageAndInfoContainer,.mapContainer{
    width:100%
}
}
