

.spotsContainer{

    margin: 1.5em 3em 0 5.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em,1fr));
    gap:1.5rem;
    /* height: 100vh; */

}


.footerOnHomePage{
    display: flex;
    justify-content: space-between;
    /* margin: 0rem 5rem 0 5rem; */
    padding: 0 1rem 0 1rem;

    position: fixed;
    bottom: 0;
    right:0;
    left:0;
    background-color: white;
    /* z-index: 1; */

}

.hrLineAllSpot{
    margin-top: 10rem;
    /* border:1px solid white; */
    border: none;
}

.footerTxt{
    font-size: 0.8rem;

}

@media only screen and (max-width: 900px)  {

.footerOnHomePage{

    display: block;
    margin: 0rem 0rem 0 0rem;
    /* position: fixed;
    bottom: 0;
    right:0;
    left:0; */
    background-color: white;
    text-align: center;
}
}



@media only screen and (min-width: 1600px)  {
.spotsContainer{

    margin: 1.5em 3em 0 5.5em;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(16em,1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:1.5rem;

}
}
