

.spotsContainer{

    margin: 1.5em 3em 0 5.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em,1fr));
    row-gap:2em;
}

.footerOnHomePage{
    display: flex;
    justify-content: space-between;
    margin: 0rem 5rem 0 5rem;
}

.hrLineAllSpot{
    margin-top: 5rem;
}

@media only screen and (max-width: 700px)  {

.footerOnHomePage{


    margin: 0rem 0rem 0 0rem;
}
}
