.videoImage{
    width: 100%;
    position: relative;
}
.becomeHostLogo{
  position: absolute;
  top: 3rem;
  left:3rem;
  color: white;
  font-size: 2.1rem;
  z-index: 1;

}
.becomeHostLoginLink{
    position: absolute;
    bottom: 10rem;
    left:15rem;
    background-color: rgb(230, 30, 77);
    border-radius: 14px;
    font-size: 1.8rem;
    z-index: 1;
    padding: 7px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.73);
}
