.editImages{
    width: 100%;

}
.editImageContainer{
    position: relative;
    width: 500px;
    /* height: 500px; */


}
.dotsIcon {
  position: absolute;
  top: 4px;
  right: 7px;
  color: white;
  font-size: 1.3rem;

}

.editImageContainerOuterContainer{
    display: flex;
}
.dotIconContainer{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.708)

}
