
 /* .singlePageImageContainer{
     width: 50%;
    /* display: flex;  */
    /* display: grid;
    grid-template-areas:
    "firstSingleSpotImage       singleSpotImgsContainer"
    "firstSingleSpotImage       singleSpotImgsContainer"
    "firstSingleSpotImage       singleSpotImgsContainer " ;  */
/* } */
.firstSingleSpotImage{
    width: 700px;
    height: 300px;
    margin: 0rem 10rem 0 22rem;
}
.singleSpotImgs{

    width: 200px;
    height: 200px;

}

.singleSpotImgsContainer{
    margin-right: -10px;
    grid-area: singleSpotImgsContainer;
    /* width: 1000px;*/
    display: grid;

    /* column-gap: 1px;*/
    grid-template-columns: 1fr 1fr;

}
