

.singalePageMainContainer{
    margin: auto;
    max-width:1250px

}
.singleSpotImgs{
    width: 100%;
    /* height: 100%;
    max-height: 200px; */
    height: 200px;
    cursor: pointer;
}
.singleSpotFirstImageContainer{
  flex: 1;
}
.singleSpotFirstImage{

    width: 98%;
    height:407px;
    cursor: pointer;
}

/* .singleSpotFirstImage{
    width: 70vw;
    height:407px;
    cursor: pointer;
    display: block;

} */
.singleSpotAllImageContaineIfOneImage{
    display: block;
    width: 85vw;
    text-align: center;
    /* margin: 0rem 0rem 0 0rem; */
    max-height: 400px;
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
}

/* .singleSpotRemainingImgsTwoContainer{
    display: block;
}
.singleSpotTwoImgs{
    width: 100%;
    height: 100%;
} */
.singleSpotAllImageContainer{

  display: flex;

  overflow: hidden;

  /* width: 85vw; */
  text-align: center;
  /* margin: 0rem 0rem 0 1.5rem; */
  /* overflow: hidden; */
  max-height: 400px;
  border-radius: 12px;
  box-sizing: border-box;



}

.insideContainer{
    display: inline-block;
    width: 100%;
    height: 100%;
}


.singleSpotRemainingImgsContainer{
    flex: 1;
    display: grid;
    /* margin: 0 0 0 -3rem; */
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto; */
    gap:7px;

}

.singleSpotOuterContainer{
    /* margin: 0rem 5rem 0 2rem; */
    margin:1.5em 5.5em 0 5.5em

}


.singleSpotHeading{
    color: rgba(20, 20, 20, 0.888);
    font-size: 1.6rem;
    /* margin: 0rem 0rem 0 0rem; */
    margin: -3.5rem 0rem 0 0rem
}

.spotAndStartContainer{
    display: flex;
    /* margin-top: -0.3rem; */
    /* margin: 0rem 5rem 0 2rem; */
}
.singleSpotStar{
    font-size: 0.8rem;
    color: rgba(20, 20, 20, 0.866);
}
.superHost{
    margin-left: 20px;
    margin-top: 18px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.884);
}
.superHostMedal{
    font-size: 0.8rem;
    color: rgba(20, 20, 20, 0.866);
    /* margin-right: 9px; */
}

.singleSpotAddress{

    margin-left: 20px;
    text-decoration: underline;
    font-size: 0.85rem;
    margin-top: 18px;
    font-weight: bold;
    color: rgba(20, 20, 20, 0.866);
    text-align: justify;


}

.sessionName{
    margin-top: 3.5rem;
    color: rgba(0, 0, 0, 0.821);
    font-size: 1.35rem;
    font-weight: 600;
    color: rgba(14, 13, 13, 0.888);
}
.greatText{
    margin-top: 0rem;
    font-size: 1.0rem;
    color: rgba(0, 0, 0, 0.821);
    margin-bottom: 0rem;
    font-weight: 600;
}
.keyIcon {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.821);
    margin-bottom: 0px;
    font-weight: 400;
    margin-top: 1.5rem;
}

.grestlocationText,.experience,.freeCancelation{
    font-size: 1.0rem;
    color: rgba(0, 0, 0, 0.821);
    margin-bottom: 0px;
    font-weight: 600;
    margin-top: 1.5rem;
}
.freeCancelation{
    margin-bottom: 1.8rem;
}

.keyText,.locationText{
    margin: 0.5rem 0 0 1.5rem;
    color: rgba(0, 0, 0, 0.562);
}
.airTxt{
    color: #FF385C;

}
.policyText{
    color: rgba(0, 0, 0, 0.875);
}

.learnMore{
    text-decoration: underline;
    /* margin-bottom: 2rem; */
}

.description{
    margin:3rem 0 3rem 0;
}
.descriptionContainer{
    inline-size: 85%;
    overflow-wrap: break-word;
    text-align:justify;
}
.offers{
    color: rgba(0, 0, 0, 0.771);
}
.tvIcon,.pawIcon,.wifiIcon,.carIcon,.beachIcon,.airIcon{
    margin: 1rem 0.9rem 0 0;
    color: rgba(0, 0, 0, 0.8);
}
.languageIcon{
   color: rgba(0, 0, 0, 0.8);
   margin: 0rem 0.9rem 0 0;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.infoContainer{
  display: flex;
  /* position: relative; */


}
.dataContainer{
  width: 70%;
  /* margin: 0rem 5rem 0 2rem; */
}
.sideBarContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.sideBar{
  /* width: 100%; */
  /* height: 10%; */
  margin: 3rem 0rem 0 1rem;
  position: sticky;
  top: 4rem;
  border-radius: 10px;

  background-color:#FFF;
  padding:10px;
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.575);
  background-color: white
}
.singleSpotPrice{
    font-size: 1rem;
    /* margin: 0 0 0 2rem; */
}
.bookingBtn{
    background-color: rgb(238, 46, 91);
    border: none;
   color: white;
   font-size: 1rem;
   width: 100%;
   text-align: center;

   border-radius: 10px;
   padding: 0.7rem;
   /* font-weight: bold; */
}

.editDeletebuttons{
    /* width: 100%; */
    /* height: 10%; */
    margin: 3rem 0rem 0 1rem;
    position: sticky;
    top: 15rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color:#FFF;
    padding:10px;
    box-shadow: 0 0 6px rgba(128, 128, 128, 0.575);
    background-color: white
}
.ediBtn,.deleteBtn{
    background-color: rgb(238, 46, 91);
    border: none;
     color: white;
     font-size: 1rem;
     cursor: pointer;

     text-align: center;
     margin: 2rem 0 1rem 0rem;
     border-radius: 10px;
     padding: 0.5rem;
     /* font-weight: bold; */
}

.singleSpotBackarrowIcon{
    position: absolute;
     top: 1rem;
    left:1rem;
    font-size: 1.2rem;
    display: inline;
}
.singleSpotBackIconContainer{

    position: relative;
    /* display: inline; */
    display: block;
    left:1rem;
    width: 50px;
    height:50px;
}
.singleSpotBackIconContainer:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.218);


    border-radius:50%;

}

.reviewOuterContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    column-gap: 1rem;


}

.reviewName{
    margin: 1rem 0 0 0;
}
.reviewDate{
    margin: 0 0 0 0;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.551);
}
.reviewTxt{
    overflow-wrap: anywhere;
}
.pipe{

    margin:  0rem 1rem 0rem 1rem;
}

.dateInput{
    width: 100%;
    padding: 0.8rem;
    font-size: 0.9rem;
    margin: 0.5rem 0 0 0;
    border-radius: 5px;
    border: 1px solid black;

}
.dateLable{
 font-size: 0.9rem;
}
.dateInputLabelContainer{
    margin: 1rem 1rem 1rem 1rem;

}
.bookingStarsContainer,.bookinStar{
    font-size: 0.9rem;
}
.bookingPriceAndReviewContainer{
    display:flex;
    justify-content: space-between;
}
@media only screen and (min-width: 200px) and (max-width: 1033px)  {

    .editDeletebuttons{
        display: flex;
        flex-direction: row;

    }
    .bookingBtn{
        width: 30%;
        margin: 2rem 5rem 0rem 5rem;
    }
    .ediBtn,.deleteBtn,.bookingBtn{
        padding: 0.5rem;
        font-size: 0.5rem;


    }

    .infoContainer{
        display: block;
    }
    .sideBarContainer{
        width: 50%;
    }
    .singleSpotOuterContain{
        font-size: 1rem;
    }
    .singleSpotAllImageContainer{

        width: 100%;
    }
    .singleSpotOuterContainer{
        margin: 0 0 0 0 ;
    }
    .singleSpotFirstImage{
        width:100vw;
    }
    .spotAndStartContainer,.singleSpotHeading,.infoContainer{
        margin:1rem 1rem 1rem 1rem;
    }
    .singleSpotPrice{
        margin:0.5rem 0rem 0 0.5rem;


    }
}
