
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 16em;
    cursor: pointer;

}


.spotImage{
  /* width:100%; */
  /* width:238px; */
  width: 16em;
  height: 226px;
  border-radius: 10px;

}

.textContainer{
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    /* grid-template-rows: 1fr,1fr,1fr; */
    /* grid-template-rows: 20px 20px 20px; */
    /* display: flex;*/
     line-height: 1em;
    list-style: none;
    grid-template-areas:
    "name    .     star"
    "address .     ."
    "price   .      ." ;

}

.star{
    margin: 1em 0 0.2em 1em;
   grid-area: star;
   font-size: 0.78em;
}
.name{
    margin: 1em 0 0.2em 0;
    grid-area: name;
    font-size: 0.78em;
    font-weight: 550;
}
.address{
    grid-area: address;
    font-size: 0.78em;
    color: grey;
}
.price{
    margin: 0.4em 0 0 0;
    grid-area: price;
    font-size: 0.78em;
}
