.line{
    background-color: rgba(248, 245, 245, 0.099);
    border-color: rgba(248, 245, 245, 0.371);;
    position: relative;
    z-index: -1;
}

.appContainer{
    position: relative;
    margin: auto;
    max-width:1600px
}





@media only screen and (max-width: 700px)  {

.appContainer{
    margin: 0.1rem;
    width: 100%;
}

}
