.navLinks{
    display:flex;
    justify-content: space-between;
}
 .userIconContainer{
    border:1px solid #dddddd;
    border-radius: 50px;
    background-color: white;
    width: 4.7rem;
    height:40px;
    margin-right: 4em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}
.userIconContainer:hover{
    box-shadow: 2px 2px 2px #dddddd;
}

.barsIcon{
   margin-left: 4px;
   font-size: 0.9rem;
   color: rgb(51, 51, 51);
}
.userIcon{
    font-size:1.7rem;
    margin-right: 1px;
    color: rgb(110, 110, 110);

}
.linksAndButtonContainer{
    position: relative;

}

.singUplinksContainer{
    min-width:8rem;

    position: absolute;
    top: 3.7rem;
    right:6.5rem;
    z-index: 10;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 10px;

}
.singUplinksContainerclose{
    display: none;
}

.userData{
    list-style: none;
    margin:0.5rem 1rem 0.5rem 1.3rem;

    font-size: 0.9rem;
    color: black;
    font-weight: 500;
}
.loginButton{
    background-color: rgba(255, 255, 255, 0.238);
    border: white;
    text-align: inherit;
    margin: 0.5rem 0 0 1rem;
    padding: 0.4rem;
    cursor: pointer;
    font-weight: bold;
}

.logoutBtn{
    /* margin:0.5rem 1rem 0.5rem 1rem; */
    background-color: rgba(255, 255, 255, 0.238);
    border: none;
    border: white;
    font-size: 0.9rem;
    text-align: inherit;
    color: black;
    font-weight: 500;
    padding: 5px;
    margin: 0 0 0 1.2rem;

}
.logoutBtn:hover{
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.11)
}
.myLinkAllSpot{
    text-decoration: none;
   margin: 0 0 0 1.2rem;
   font-size: 0.9rem;
   color: black;
   font-weight: 500;
   border: none;
   background-color: white;
   padding: 6px;
}
.myLinkAllSpot:hover{
  cursor: pointer;
  background-color:rgba(128, 128, 128, 0.11)

}
.NavLinkline{
    background-color: rgba(248, 245, 245, 0.099);
    border-color: rgba(248, 245, 245, 0.371);
    /* position: relative; */
     border: 0;
    display:block;
    width: 96%;
    background-color:rgba(128, 128, 128, 0.363);
    height: 0.01em;
}
.linksContainer{
    display: flex;
    flex-direction: column;
}
.logo{
    width: 25px;
    height: 25px;
    margin:0rem 0rem 0rem 3rem;

}

.logo-name{
    margin:0.1rem 0.4rem 0rem 0.5rem;
    color:#ff385c;
    font-size: 1.4rem;
    cursor: pointer;
}
.logo-container{

   display: flex;

}

.becomeHostAndUserBtnContainer{
    display: flex;



}
.navbackgroundDiv{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}
.signUpButton{
    background-color: rgba(255, 255, 255, 0.238);
    border: white;
    margin:  0rem 0.6rem 0 1rem;
    padding: 0.4rem;
    text-align: inherit;
    cursor: pointer;
}

.signUpButton:hover{

    background-color:rgba(128, 128, 128, 0.11)

}
.demoUserBtn{

    background-color: rgba(255, 255, 255, 0.238);
    border: white;
    margin:  0rem 0.6rem 0 1rem;
    padding: 0.4rem;
    text-align: inherit;
    cursor: pointer;
}
.demoUserBtn:hover{
    background-color:rgba(128, 128, 128, 0.11)
}
@media only screen and (max-width: 700px)  {

  .navLinks{
    display:block;

}
.becomeHostAndUserBtnContainer{
    justify-content: space-between;

}

}
