.addImageContainer{
    padding: 10px;
}

.addImagesInputContainer,.addImagerBtnContainer{
    margin: 1rem 2rem 0rem 1rem;
}

.addImagesInput{
    width: 100%;
    padding: 10px;

    /* min-width: 80%; */
    flex: 1;
    margin: 1rem 0rem 0rem 0rem;
    padding: 10px;
    border-radius: 5px;
    border: 1.25px solid rgba(0, 0, 0, 0.26);
}


.addImagesForm{

    width: 400px;
    height: 200px;
}


.addImageSubmitButton{
    box-sizing: border-box;
    min-width: 80%;
    margin: 1rem 0 0 3rem;
    padding:0.7rem;
    border-radius: 5px;
     background-color: rgb(230, 30, 77);
    border: 1px solid rgb(230, 30, 77);
    /* background: linear-gradient(to right, rgb(230, 30, 77) 0%,rgb(202, 53, 88) 50%, rgb(230, 30, 77) 90%); */
    color:white;
    font-weight: 500;
    cursor: pointer;
}
